<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
	th:replace="stockist/base::Layout(~{::div})">
<head>
<meta charset="UTF-8" />
<title>user dashboard</title>
</head>
<body>
	<div class="container">
		<h1 class="text-center" style="color: blue; font-size: 40px;">Welcome
			to Stockist dashboard</h1>
	</div>



	<div class="row justify-content-center text-center mt-5">
		<div class="col-sm-6 col-md-4 col-lg-3">
			<div class="card text-white bg-secondary mb-3">
				<div class="card-header">View Stock</div>
				<div class="card-body">
					<h5 class="card-title">
						<a href="#" th:href="@{/stockist/view-medicine}"
							class="text-white">View Stock</a>
					</h5>
					<p class="card-text">Click to view available stocks.</p>
				</div>
			</div>
		</div>


		<div class="col-sm-6 col-md-4 col-lg-3">
			<div class="card text-white bg-danger mb-3">
				<div class="card-header">Add Stock</div>
				<div class="card-body">
					<h5 class="card-title">
						<a href="#" th:href="@{/stockist/order-medicine}"
							class="text-white">Add Stock</a>
					</h5>
					<p class="card-text">Click to add a new stock to the
						inventory.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row justify-content-center text-center">
		<div class="col-sm-6 col-md-4 col-lg-3">
			<div class="card text-white bg-success mb-3">
				<div class="card-header">Profile</div>
				<div class="card-body">
					<h5 class="card-title">
						<a href="#" th:href="@{/stockist/profile}" class="text-white">Profile</a>
					</h5>
					<p class="card-text">Click here to check your profile
						</p>
				</div>
			</div>
		</div>
		
		<div class="col-sm-6 col-md-4 col-lg-3">
			<div class="card text-white bg-primary mb-3">
				<div class="card-header">Order</div>
				<div class="card-body">
					<h5 class="card-title">
						<a href="#" th:href="@{/stockist/see-order-stockist}" class="text-white">Check Order</a>
					</h5>
					<p class="card-text">Click to check status of order</p>
				</div>
			</div>
		</div>
		
		
		
		<div class="col-sm-6 col-md-4 col-lg-3">
			<div class="card text-white bg-info mb-3">
				<div class="card-header">Setting</div>
				<div class="card-body">
					<h5 class="card-title">
						<a href="#" th:href="@{/stockist/setting}" class="text-white">Setting</a>
					</h5>
					<p class="card-text">Click to access and modify your
						settings.</p>
				</div>
			</div>
		</div>
	</div>


</body>
</html>