<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
	th:replace="base::Layout(~{::div})">
<head>
<meta charset="UTF-8" />
<title>change password</title>
</head>
<body>
	<div class="container">

		<div id="login">
			<div class="container">
				<div id="login-row"
					class="row justify-content-center align-items-center">
					<div id="login-column" class="col-md-6">
						<div id="login-box" style="height: 250px;" class="col-md-12">
							<h1 class="mt-3">Enter new password</h1>

							<form action="" th:action="@{/change-password-form}" method="post">

								<div class="form-group mt-3">
									<input type="text" placeholder="Enter password here"
										class="form-control" required="required" name="newPassword" />
								</div>


								<div class="container text-center">
									<button class="btn btn-success">Change Password</button>
								</div>


							</form>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>