<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
	th:replace="base::Layout(~{::div})">
<head>


<meta charset="UTF-8" />


<title>login</title>
</head>
<body>
	<div class="container">

		<div th:if="${session.msg}" th:classappend="${session.msg.type}"
			class="alert" role="alert">
			<p class="text-center" th:text="${session.msg.content}"></p>

			<th:block th:text="${@sessionRemover.removeMessageFromSession()}"></th:block>
		</div>


		<div id="login">
			<div class="container">

				<div id="login-row"
					class="row justify-content-center align-items-center">
					
					<div id="login-column" class="col-md-6">
					
						<div id="login-box" style="height: 500px;" class="col-md-12">
							<form id="login-form" class="form" th:action="@{/dologin}"
								action="#" method="post">
								<div th:if="${session.message}"
									th:classappend="${session.message.type}" class="alert"
									role="alert">
									<p class="text-center" th:text="${session.message.content}"></p>

									<th:block
										th:text="${@sessionRemover.removeMessageFromSession()}"></th:block>
								</div>
								<!-- <h3 class="text-center text-info">Login</h3> -->
								<h3 class="text-center">Login</h3>



								<div th:if="${param.error}" class="alert alert-danger">Invalid
									name and password</div>

								<div th:if="${param.logout}" class="alert alert-success">User
									logged out</div>


								<div th:if="${param.change}" class="alert alert-success">
									<p th:text="${param.change}"></p>
								</div>

								<div class="form-group">
									<label for="username" >Email:</label><br>
									<input type="text" name="username" id="username"
										class="form-control">
								</div>
								<div class="form-group">
									<label for="password" >Password:</label><br>
									<input type="password" name="password" id="password"
										class="form-control" required="required">
								</div>
								<div class="form-group">
									<input type="submit" name="submit" class="btn btn-primary"
										value="Login">
								</div>


								<br>
								<div id="register-link" class="text-right">
									<a href="/forgot">Forgot Password?</a>
								</div>

								<br>
								<div class="container text-center mt-4">
									<h1 class="form-control">Don't have account?</h1>
								</div>
								<div class="container text-center">
									<a href="/signup" >Register here</a>
								</div>


							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>