<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
	th:replace="pharmacy/base::Layout(~{::section})">

<head>
<meta charset="UTF-8" />
<title>Document</title>

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<style>
.container {
	max-width: 500px;
	margin: 0 auto;
}

.card {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
</style>
</head>

<body>
	<section>
		<div class="container">
			<div class="card p-4">

				<div th:if="${session.msg}" th:classappend="${session.msg.type}"
					class="alert" role="alert">
					<p class="text-center" th:text="${session.msg.content}"></p>

					<th:block th:text="${@sessionRemover.removeMessageFromSession()}"></th:block>
				</div>


				<form novalidate="novalidate" id="process-order-form"
					th:object="${placeOrder}"
					th:action="@{/pharmacy/process-order-form}" method="post">

					<h1 class="text-center">Order now</h1>

					<div class="form-group">
						<label for="name">Medicine name:</label> <input type="text"
							name="name" class="form-control" required="required"
							th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}"
							th:value="${placeOrder.name}" />

						<div th:each="p : ${#fields.errors('name')}"
							class="invalid-feedback" th:text="${p}"></div>

					</div>





					<div class="form-group">
						<label for="quantity">Quantity:</label> <input type="number"
							name="quantity" class="form-control" required="required"
							th:classappend="${#fields.hasErrors('quantity') ? 'is-invalid' : ''}"
							th:value="${placeOrder.quantity}" />

						<div th:each="p : ${#fields.errors('quantity')}"
							class="invalid-feedback" th:text="${p}"></div>

					</div>


					<!-- 
					<div class="form-group">
						<label for="status" hidden="true">Status:</label> <input
							type="text" name="status" class="form-control" hidden="true" />
					</div> -->

					<div class="form-group">
						<label for="location">Location:</label> <input type="text"
							name="location" class="form-control" required="required"
							th:classappend="${#fields.hasErrors('location') ? 'is-invalid' : ''}"
							th:value="${placeOrder.location}" />

						<div th:each="p : ${#fields.errors('location')}"
							class="invalid-feedback" th:text="${p}"></div>


					</div>






					<div class="form-group">
						<label for="phone">Phone:</label> <input type="tel" name="phone"
							class="form-control" required="required"
							th:classappend="${#fields.hasErrors('phone') ? 'is-invalid' : ''}"
							th:value="${placeOrder.phone}" />

						<div th:each="p : ${#fields.errors('phone')}"
							class="invalid-feedback" th:text="${p}"></div>

					</div>

					<!-- 					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="price" hidden="true">Price:</label> <input
								type="number" name="price" class="form-control" hidden="true" />
						</div>

						<div class="form-group col-md-6">
							<label for="total" hidden="true">Total:</label> <input
								type="number" name="total" class="form-control" hidden="true" />
						</div>
					</div> -->

					<div class="form-row">

						<div class="form-group col-md-6">
							<label for="createdDate">Created Date:</label> <input type="date"
								name="createdDate" class="form-control" required="required"
								th:classappend="${#fields.hasErrors('createdDate') ? 'is-invalid' : ''}"
								th:value="${placeOrder.createdDate}" id="createdDateInput" />


							<div th:each="p : ${#fields.errors('createdDate')}"
								class="invalid-feedback" th:text="${p}"></div>
						</div>

						<div class="form-group col-md-6">
							<label for="arriveDate">Arrive Date:</label> <input type="date"
								name="arriveDate" class="form-control" required="required"
								th:classappend="${#fields.hasErrors('arriveDate') ? 'is-invalid' : ''}"
								th:value="${placeOrder.arriveDate}" />


							<div th:each="p : ${#fields.errors('arriveDate')}"
								class="invalid-feedback" th:text="${p}"></div>
						</div>
					</div>

					<div class="dropdown mb-3">
						<label for="dropdownMenu">Select stockist:</label> <select
							required="required" id="dropdownMenu" name="stockist">
							<option th:each="stockist : ${stockistUsers}"
								th:value="${stockist.name}" th:text="${stockist.name}"></option>
						</select>
					</div>



					<div class="col-md-4">
						<div class="form-group">
							<input hidden="true" type="text" class="form-control"
								id="pharmacyName" name="pharmacyName" th:value="${user.name}">
						</div>
					</div>


					<div class="container text-center">
						<button class="btn btn-primary" type="submit">Order</button>
					</div>
				</form>
			</div>
		</div>
	</section>

	<!-- Bootstrap JS -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



</body>

</html>

