<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
	th:replace="pharmacy/base::Layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>view medicine</title>
</head>
<body>
	<section>
		<div class="card mr-3 ml-4 ">
			<div class="card-body">
				<h1 class="text-center">Your Medicine</h1>

				<div th:if="${session.msg}" class="container">

					<div th:classappend="${'alert-'+session.msg.type}"
						class="alert text-center" role="alert">
						<span th:text="${session.msg.content}"></span>
					</div>
					<th:block th:text="${@sessionRemover.removeMessageFromSession()}"></th:block>
				</div>

				<div class="search-controller my-4">
					<input type="text" class="form-control"
						placeholder="Search your contacts"/ >
				</div>

				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Id</th>
							<th scope="col">Name</th>
							<th scope="col">Quantity</th>
							<th scope="col">Price</th>
							<th scope="col">Total</th>
							<th scope="col">Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="m : ${medicines}">
							<td th:text="${m.mid}"></td>
							<td th:text="${m.name}"></td>
							<td th:text="${m.quantity}"></td>
							<td th:text="${m.price}"></td>
							<td th:text="${m.total}"></td>
						</tr>
					</tbody>
				</table>


			</div>
		</div>
	</section>
</body>
</html>
